<main
  class="bg-gray-100 dark:bg-gray-800 h-screen max-w-7xl mx-auto flex flex-col items-center"
>
  <h1 class="text-3xl text-gray-900 dark:text-gray-50 mt-8">
    Welcome to Your Dashboard
  </h1>

  <button
    (click)="logOut()"
    class="px-6 py-3 bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white font-semibold rounded-lg text-sm transition-colors mt-4"
  >
    Log Out
  </button>

  <div class="mt-10">
    <p class="text-4xl text-blue-500 dark:text-blue-400">
      Thank You for Using Our Dashboard
    </p>
  </div>
</main>
